.palette, .drag, .canvas {
  position: absolute;
}
.canvas, .drag {
  left: 300px;
  top: 0;
}
.drag {
  z-index: 2;
  margin-top: -1px;
}
.palette {
  z-index: 0;
  width: 300px;
  top: 0;
  left: 0;
}
.canvas {
  border-left: 1px solid #000;
  background-color:#EEE;
}
.canvas {
  z-index: 1;
  border-right: none;
}
.palette {
  background-color:#DDD;
}
.hidden_input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
.ice_editor {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  cursor: default;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  background-color: #EEE;
}
.fullscreen_textarea {
  border: 1px solid black; padding: none;
  font-family: Courier, monospace;
  height: 100%; width: 100%;
  font-size: 15px;
  line-height: 15px;
  background-color: #EEE;
}
.trackArea {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.ice_ace {
  display: none;
  position: absolute;
  top: 0; left: 0; bottom:0; right:0;
  font-family: Courier, monospace;
}
