@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(http://fonts.gstatic.com/s/sourcecodepro/v5/mrl8jkM18OlOQN8JLgasDxM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

.ice-palette-canvas, .ice-drag-canvas, .ice-main-canvas, .ice-lasso-select-canvas, .ice-highlight-canvas {
  position: absolute;
}
.ice-main-canvas, .ice-drag-canvas, .ice-lasso-select-canvas, .ice-highlight-canvas {
  top: 0;
}
.ice-drag-canvas {
  z-index: 2;
  margin-top: -2px;
  margin-left: -1px;
  opacity: 0.85;
}
.ice-palette-canvas {
  z-index: 1;
  width: 300px;
}
.ice-main-canvas {
  background-color:#FFF;
}
.ice-main-canvas {
  z-index: 0;
  border-right: none;
}
.ice-lasso-select-canvas, .ice-highlight-canvas {
  left: 0;
  z-index: 2;
  border-right: none;
}
.ice-palette-canvas {
  background-color:#FFF;
}
.ice-wrapper-div {
  position: absolute;
  top: 0; left: 0;
  cursor: default;
  background-color: #FFF;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ice-ace {
  position: absolute;
  top: -9999px; left: -9999px;
  font-family: Courier, monospace;
}
.ice-main-scroller {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 300;
  overflow: auto;
}
.ice-palette-scroller {
  position: absolute;
  left: 0; top: 150px; bottom: 0; right: 0;
  z-index: 300;
  overflow-y: auto;
  overflow-x: hidden;
}
.ice-palette-wrapper {
  position: absolute;
  top: 0; bottom: 0; width: 300px;
  z-index: 257;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ice-palette-header {
  z-index: 257;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  line-height: 10px;
  border-spacing: 4px;
  border-bottom: 2px solid #000;
  display: table;
}
.ice-palette-header-row {
  display: table-row;
  height: 30px;
  width: 100%;
}
.ice-palette-group-header {
  display: table-cell;
  width: 50%;
  font-family: sans-serif;
  line-height: 30px;
  cursor: pointer;
  overflow: hidden;
  padding-left: 10px;
  border-left: 10px solid;
  color: dimgray;
}
.ice-palette-group-header-selected {
  display: table-cell;
  width: 50%;
  cursor: pointer;
  background-color: #000;
  color: #FFF;
  font-weight: bold;
}
.ice-palette-group-header.command { border-left: 10px solid #8fbfef; }
.ice-palette-group-header-selected.command { background-color: #8fbfef; }
.ice-palette-group-header.value { border-left: 10px solid #8cec79; }
.ice-palette-group-header-selected.value { background-color: #8cec79; }
.ice-palette-group-header.control { border-left: 10px solid #efcf8f; }
.ice-palette-group-header-selected.control { background-color: #efcf8f; }
.ice-palette-group-header.return { border-left: 10px solid #f2a6a6; }
.ice-palette-group-header-selected.return { background-color: #f2a6a6; }
.ice-palette-group-header.containers { border-left: 10px solid #bfa6f2; }
.ice-palette-group-header-selected.containers { background-color: #bfa6f2; }
.ice-palette-group-header.logic { border-left: 10px solid #ecec79; }
.ice-palette-group-header-selected.logic { background-color: #ecec79; }
.ice-palette-group-header.math { border-left: 10px solid #f2a6e5; }
.ice-palette-group-header-selected.math { background-color: #f2a6e5; }

.ice-hidden-input {
  position: absolute;
  top: -9999px;
  left: -9999px;
  -webkit-touch-callout: none;
}
.ice-hover-div {
  position: absolute;
}
.ice-main-scroller {
  z-index: 10;
}
.ice-main-scroller-stuffing {
  z-index: 10;
}
.ice-palette-scroller-stuffing {
  /* Temporary hack to prevent bad side-scrolling
   * behaviour when dragging blocks out of the palette */
  overflow-x: hidden;
}
.ice-transition-container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: visible;
}
.ice-gutter {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ebebeb;
  height: 100%;
  box-sizing: border-box;
  font-size: 15px;
  font-family: Courier New;
}
.ice-gutter-line {
  position: absolute;
  box-sizing: border-box;
  text-align: right;
  padding-right: 13px;
  line-height: normal;
  width: 100%;
}
.ice-drag-cover {
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  z-index: 9999;
}
.ice-transitioning-element {
  position: absolute;
  white-space: pre;
  z-index: 300;
}
.ice-transitioning-gutter {
  box-sizing: border-box;
  text-align: right;
  padding-right: 13px;
}
.ice-palette-highlight-canvas {
  position: absolute;
  z-index: 257;
}
